body {
  background-color: #f8f9fa;
}
h1 {
  color: #0d6efd;
}
.card-title {
  font-weight: bold;
}
#profile img{
  max-width: 350px ;
  height: 300px ;
  border-radius: 50%;
  object-fit: cover;
}
.contact .btn {
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: bold;
  border: solid 2px #0d6efd;
  background-color: #f8f9fa;
  color: #0d6efd;
}
#cv {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: solid 2px #0d6efd;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 10px;
  transition: background 0.2s;
}
#cv:hover {
  background-color: #0b5ed7;
}
section{
  /* height: 300px; */
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: solid 1px #0d6efd;
  padding: 2rem 1rem;
}
#experience img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  align-items: center;
}
